@import "styles/colors.scss";
@import "styles/media.scss";

.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
  background: $gray;
  border-radius: 1rem;
  @include mobile {
    padding: 1rem;
  }

  input,
  label,
  ::placeholder {
    @include mobile {
      font-size: 0.8rem;
    }
  }
}
