$DeepSpaceSparkle: #3F6A73;
$DarkSlateGray: #285059;
$MediumAquamarine: #5CE6B8;
$Eucalyptus: #3DCCB4;

$primary: $DeepSpaceSparkle;
$secondary: $DarkSlateGray;
$tretiary: $Eucalyptus;
$accent: $MediumAquamarine;

$black: #000000;
$white: #FFFFFF;
$gray: #f3f3f3;